<footer class="text-center text-white m-0 bg-dark">

      <!-- Social medias -->
      <div class="container">
        <section class="pt-2">
          <a class="btn btn-outline-light btn-floating m-2 socials" href="https://twitter.com/YdavaDev" role="button"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-light btn-floating m-2 socials" href="https://github.com/DavidVXBLD" role="button"><i class="fab fa-github"></i></a>
          <a class="btn btn-outline-light btn-floating m-2 socials" href="https://www.linkedin.com/in/david-vieuxbled-077247215/" role="button"><i class="fab fa-linkedin-in"></i></a>
        </section> 
      </div>

      <!-- Copyrights -->
      <div class="text-center pb-2">
        <p class="text-white">© 2021 Copyright: Avady</p>
      </div>

    </footer>