<header class="text-center py-5">
    <section class="container">
        <h1 class="my-2">BiblioManager</h1>
        <p class="pHeader pt-4">Gestionnaire de données de bibliothèque</p>
    </section>
</header>